.ant-picker-header-next-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-super-next-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-prev-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-super-prev-btn {
  pointer-events: none;
  opacity: 0;
}

.createUserForm .ant-form-item-label label {
  width: 100px;
  font-size: 16px;
  float: left;
}

.createUserForm .ant-radio-checked .ant-radio-inner {
  border-color: red;
  background: red;
}

.createUserForm .ant-radio-checked .ant-radio-inner::after {
  background: white;
}
#space-create {
  display: flex;
  justify-content: flex-end;
}
