.ant-picker-header-next-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-super-next-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-prev-btn {
  pointer-events: none;
  opacity: 0;
}
.ant-picker-header-super-prev-btn {
  pointer-events: none;
  opacity: 0;
}
.editAssignmentForm .ant-form-item-label label {
    width: 100px;
    font-size: 16px;
    float: left;
}
#space-edit {
    display: flex;
    justify-content: flex-end;
  }
  